* {
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pokemon-container{
    display: flex;
    flex-wrap: wrap;
    gap:10px 10px;
}

.card{
    width: 150px;
    height: 210px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px #00000079;
    transition: 1s;
}

.card:hover{
    box-shadow: 0 1px 15px #00000079;
    transition: 1s;
}

.card img{
    width: 100%;
    padding: 15px;
}

.card:hover img{
    padding: 5px;
    transition: 0.5s;
}

.card ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.pokemon-id{
    font-size: 15px;
    font-weight: bold;
}

.pokemon-name{
    text-transform: capitalize;
    color: black;
    font-weight: bold;
}

.pokemon-style{
    font-size: 12px;
}

.electric{
    background-color: yellow;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.grass{
    background-color: #7c5;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.poison{
    background-color: #a59;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.fire{
    background-color: #f42;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.flying{
    background-color: #89f;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.fairy{
    background-color: #e9e;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.water{
    background-color: #39f;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.normal{
    background-color: #aa9;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.psychic{
    background-color: #f59;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.ghost{
    background-color: #66b;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.rock{
    background-color: #ba6;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.bug{
    background-color: #ab2;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.steel{
    background-color: #aab;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.dragon{
    background-color: #76e;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.fighting{
    background-color: #b54;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}

.ice{
    background-color: #6cf;
    border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
}